.debug {
    margin-top: 100px;
}

@media(min-width: 600px) {
    .formulario {
        text-align: left;
        width: 33%;
        margin-left: 33%;
        margin-top: 100px;
    }
}

@media(max-width: 600px) {
    .formulario {
        text-align: left;
        width: 90%;
        margin-left: 5%;
        margin-top: 70px;
    }
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

label {
    margin-top: 18px;
    display: block;
}

.mensagemErro {
    color: red;
    font-size: 14px;
    position: relativa;
    bottom: 8px;
}